 .u-section-1 {
  background-image: none;
  min-height: 607px;
}

.u-section-1 .u-shape-1 {
  height: 250px;
  margin-top: 124px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 814px;
  height: 458px;
  margin: -334px calc(((100% - 1140px) / 2) + 35px) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 513px;
  min-height: 195px;
  height: auto;
  margin: -104px auto 18px calc(((100% - 1140px) / 2) + -15px);
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  margin: 30px 136px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 35px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + -15px);
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 980px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -51px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2) + -15px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 879px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: 50px;
    margin-left: calc(((100% - 540px) / 2) + -15px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 766px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-slider-1 {
  min-height: 385px;
  margin-bottom: 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout {
  padding: 30px 50px;
}

.u-section-2 .u-image {
  width: 520px;
  height: 300px;
  margin: 20px auto;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 319px;
  }

  .u-section-2 .u-image-4 {
    height: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 268px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    width: 660px;
    height: 371px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 229px;
  }

  .u-section-2 .u-container-layout {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image {
    width: 520px;
    height: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 104px;
  }

  .u-section-2 .u-image {
    width: 320px;
    height: 180px;
  }
}
